.container-checkout {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px;
}

.container-checkout fieldset {
  margin: 10px 0;
}

.container-payment-methods {
  display: flex;
}

.container-payment-methods label {
  display: flex;
  align-items: center;
}

.container-payment-methods label * {
  margin: 0 10px;
}

.container-credit-card {
  display: flex;
  flex-wrap: wrap;
}

.container-credit-card p {
  width: 100%;
}

.container-bill {
  margin-right: 15px;
}

.container-checkout button {
  align-self: flex-start;
  margin: 10px 0;
}

.container-buyer-information input {
  box-sizing: border-box;
  width: 22%;
  margin: 5px 1%;
}

.container-buyer-information input[name='inputAddress'] {
  width: 70%;
}

.container-buyer-information input[name='inputNumber'],
.container-buyer-information input[name='inputState'] {
  width: 14%;
}

.container-buyer-information input[name="inputCity"] {
  width: 38%;
}