.container-search {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;

  margin-top: 10px;
}

.container-search svg {
  margin-right: 20px;
}

.container-product-list { 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;
  padding: 10px 0;
 }


 .container-product-list p {
  
 }

 .container-inputSearch { 
   flex: 1;
   border: 1px black solid;
   border-radius: 20px;
   padding: 5px;
   margin-bottom: 20px;

   min-width: 70%;
 }

 .container-inputSearch input {
   border: none;
   outline-offset: 0px;
 }

 .container-inputSearch input:focus {
   outline: none;
   border: none;
 }