.container-product-details {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}

.container-product-details > h1 {
  width: 100%;
  font-size: 1.2em;
}

.container-product-details img {
  width: 35%;
  height: 25%;
}

.container-product-details footer {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.container-product-details footer > p {
  width: 100%;
  margin: 0;
  margin-top: 10px;
}

.container-product-details .container-controls-cart {
  margin: 0;
}

.container-technical-specification {
  width: 50%;
  border: 1px black solid;
  margin-left: 10px;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
}

.container-technical-specification h2 {
  margin: 0;
  font-size: 1em;
}

.container-technical-specification li {
  font-size: 1em;
}