.container-product-list { 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 0;
 }

 .container-inputSearch { 
   width: 90%;
   border: 1px black solid;
   border-radius: 20px;
   padding: 5px;
 }

 .container-inputSearch input {
   border: none;
   outline-offset: 0px;
 }

 .container-inputSearch input:focus {
   outline: none;
   border: none;
 }