.container-list-categories {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 10px 10px;
  padding: 20px 10px;
  
  min-width: 30%;
  border: 1px black solid;
}

.container-list-categories input {
}

.container-list-categories label {
  margin: 20px 0;

}
